includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 10

    paths:
        - src/
        - config/
        - database/migrations/
        - tests/Support/Models/

    tips:
        treatPhpDocTypesAsCertain: false
