includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 9

    paths:
        - src/
        - config/
        - migrations/
        - tests/TestSetup/Models/

    tips:
        treatPhpDocTypesAsCertain: false
